<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Project_WCF.Services.ProductService">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Project_WCF.Services.IProductService"
                  bindingConfiguration="ApiQuotaBinding"
                  behaviorConfiguration="webHttpBehavior"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="ApiQuotaBinding"
                 closeTimeout="00:010:00"
                 openTimeout="00:010:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:010:00"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <!--<client>
      <endpoint name="BasicHttpBinding_IConfidentialInterview"
                address="http://localhost:62261/Services/ProductService.svc?wsdl"
                binding="webHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConfidentialInterview"
                contract="CI.IConfidentialInterview"
                behaviorConfiguration="webhttp">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>